/* CSS files add styling rules to your content */

@font-face {
  font-family: "agrandir";
  src: url("https://cdn.glitch.com/48148101-fd03-4307-bb35-8b499426094f%2FAgrandir-WideLight.otf?v=1585937971765");
}

body,
html {
  font-family: "agrandir", sans-serif;
  margin: 0px;
  background-color: #F3F3F3;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.col {
  flex: 50%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px 100px 10px 100px;
  background-color: #F3F3F3;
}

.intro {
  font-size: 54px;
  padding: 80px 100px 40px 100px;
}

.cr {
  display: flex;
}

.contact {
  flex: 50%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 15px 100px 12px 100px;
  font-size: 20px;
}

.project-header {
  font-size: 54px;
  padding: 40px 100px 20px 100px;
}

.home-projects {
  display: flex;
  margin: 0px 80px 40px 80px;
}

.work {
  flex: 50%;
  margin: 0px 20px 0px 20px;
  border: 1px solid black;
  padding: 0 none;
}

.work:hover {
  background: rgba(0, 0, 0, 0.1);
}

.work:hover img {
  opacity: 0.5;
}

.title {
  font-size: 54px;
  padding: 10px 0px 10px 40px;
  border-bottom: 1px solid black;
}

.work img {
  display: block;
}

.footer {
  border-top: 1px solid black;
  margin-top: 50px;
  padding: 20px 100px 20px 100px;
}

.social-media {
  text-align: right;
  margin-top: -25px;
}

/* project pages */

.back {
  top: 90px;
  left: 100px;
  position: fixed;
}

.project-intro {
  display: flex;
  padding: 80px 100px 20px 100px;
}

.project-title {
  flex: 30%;
  font-size: 54px;
}

.project-type {
  flex: 70%;
  padding: 0px 20px 0px 0px;
  font-size: 20px;
}

.project-content {
  padding: 0px 100px 0px 100px;
  display: block;
}

.half-img-container {
  display: flex;
}

.full-img {
  display: block;
  margin: 0px 10px 10px 10px;
}

.half-img {
  flex: 50%;
  height: auto;
  margin: 0px 10px 10px 10px;
}

@media only screen and (max-width: 1100px) {
  body {
    font-size: 20px;
  }
  .col {
    padding: 10px 50px 10px 50px;
  }

  .intro {
    padding: 70px 50px 20px 50px;
    font-size: 36px;
  }

  .project-header {
    font-size: 36px;
    padding: 20px 20px 20px 50px;
  }

  .cr {
    display: block;
  }

  .contact {
    display: block;
    padding: 20px 20px 20px 50px;
    font-size: 20px;
    margin-top: -1px;
  }
  #resume {
    padding-left: 50px;
  }
  .contact img {
    width: 16px;
  }

  .home-projects {
    display: block;
    margin: 0px 50px 20px 50px;
  }

  .work {
    margin: 0px 0px 20px 0px;
  }

  .title {
    font-size: 36px;
    padding: 20px 0px 20px 40px;
  }

  .project-title {
    font-size: 42px;
    padding: 0px 0px 0px 0px;
  }

  .project-intro {
    padding: 80px 50px 0px 40px;
  }

  .project-type {
    padding: 0px none;
    font-size: 20px;
  }

  .project-content {
    padding: 30px 40px 0px 40px;
  }

  .half-img-container {
    display: block;
  }

  .footer {
    border-top: 1px solid black;
    margin-top: 30px;
    padding: 10px 50px 10px 50px;
  }
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 14px;
  }

  .intro {
    font-size: 20px;
    padding: 50px 20px 10px 20px;
  }

  .project-header {
    font-size: 20px;
    padding: 20px 20px 10px 20px;
  }

  .col {
    padding: 10px 20px 10px 20px;
  }

  .contact {
    display: block;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    margin-top: -1px;
  }

  #hi {
    padding-left: 20px;
  }

  #resume {
    padding-left: 20px;
  }

  .contact img {
    width: 9px;
  }

  .home-projects {
    margin: 0px 20px 20px 20px;
    display: block;
  }

  .title {
    font-size: 20px;
    padding: 10px 0px 10px 15px;
  }

  .project-title {
    font-size: 36px;
    padding: 0px none;
  }

  .project-intro {
    padding: 60px 20px 10px 20px;
    display: inline-block;
  }

  .project-type {
    font-size: 14px;
  }

  .project-content {
    padding: 10px 10px 0px 10px;
  }

  .footer {
    border-top: 1px solid black;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
  }

  .social-media {
    display: none;
  }

  .ladle-small {
    padding-left: 20%;
    padding-top: 0%;
  }
}
